:root {
    --content-bg: #F5F6FA;
    --primary: #00B22D;
    --primary-light: #B8EAC4;
    --secondary: #707070;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pri {
    color: var(--primary)
}

.sec {
    color: var(--secondary)
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
}

.btn {
    text-decoration: none;
    background-color: #fff;
    color: var(--secondary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: 600;
}

.btn.current {
    background-color: var(--primary);
    color: #fff;
}

.menu-bar {
    width: 315px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: min(15px, 2vh);
    align-items: flex-end;
    transition: all 0.2s;
}

.menu-bar .menu-item {
    width: 93%;
    height: 48px;
    border: 1px solid var(--primary);
    border-radius: 10px 0 0 10px;
    box-shadow: inset 4px 0 0 var(--primary);
    padding: 0 10px 0 15px;
    gap: 10px;
    transition: all 50ms linear;
}

.menu-bar .menu-item:hover, .menu-bar .menu-item:focus {
    box-shadow: inset 4px 0 0 1px var(--primary);
    outline: none;
}

.menu-bar .menu-item:active {
    box-shadow: inset 15px 0 0 24px var(--primary);
    color: #fff;
}

.menu-bar .menu-item i {
    width: 30px;
}

.menu-bar .menu-btn {
    display: block;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    box-shadow: 0 2px 0 0 var(--primary-light);
    text-align: center;
    align-self: center;
    justify-self: end;
    margin: auto;
}

.menu-bar .menu-btn .sub {
    font-size: 12px;
    font-weight: normal;
    opacity: 0.7;
}

.container {
    width: 100%;
    background-color: var(--content-bg);
    box-shadow: -4px 0px 0px var(--primary);
    border-top-left-radius: 30px 70px;
    border-bottom-left-radius: 30px 70px;
    overflow: hidden;
    padding: 5px 25px;
    position: relative;
}

#menu-toggle {
    display: none;
    position: absolute;
    z-index: 15;
    top: 21px;
    left: -5px;
    color: var(--primary);
    background-color: #fff;
    border: 1px solid var(--primary);
    border-radius: 0 10px 10px 0;
    width: 40px;
    height: 40px;
}

#menu-toggle i {
    filter: drop-shadow(2px 3px 1px #00000023);
    transition: transform 0.2s;
}

.container .header .header-top {
    min-height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5px;
}

.container .header .header-top .btn {
    height: 50px;
    padding: 0 10px;
    box-shadow: 0 2px 0 0 var(--primary-light);
    transition: all 60ms linear;
}

.container .header .btn:not(.current):hover, .container .header .btn:not(.current):focus {
    outline: none;
    background-color: #eee;
}

.container .header .header-top .btn:active {
    box-shadow: none;
    transform: translateY(2px);
}

.container .header .title {
    flex: 1;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
}

.container .header .center {
    display: flex;
    justify-content: center;
    flex: 1;
}

.container .header .center .workspace-wrap {
    position: relative;
}

.container .header .workspace-wrap .workspace-btn {
    gap: 10px;
}

.container .header .workspace-wrap .workspace-btn .btn-text .sub {
    font-size: 12px;
    font-weight: normal;
    opacity: 0.7;
}

.container .header .workspace-wrap .workspace-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    right: 0;
    top: calc(100% + 10px);
    min-width: max-content;
    padding: 15px;
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 5px 20px 5px #00000033;
    z-index: 1000;
}

.container .header .workspace-wrap .workspace-popup .popup-item {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 5px;
    gap: 10px;
}

.container .header .workspace-wrap .workspace-popup .popup-item.current {
    color: #000;
    background-color: var(--primary-light);
}

.container .header .workspace-wrap .popup-item .item-details {
    text-decoration: none;
    color: #000;
    width: 100%;
}

.container .header .workspace-wrap .popup-item .item-details .members {
    font-size: 12px;
}

.container .header .workspace-wrap .popup-item .item-settings {
    margin-left: auto;
}

.container .header .workspace-wrap .create-workspace {
    text-decoration: none;
    font-size: 15px;
    color: var(--primary);
    padding: 5px;
    border-top: 1px solid var(--primary);
}

.container .header .workspace-wrap .workspace-btn:focus {
    box-shadow: 0 2px 0 0 var(--primary-light), 0 5px 20px 5px #00000022;
    background-color: #fff;
}

.container .header .workspace-wrap .workspace-btn:focus~.workspace-popup, .container .header .workspace-wrap .workspace-popup:hover {
    display: flex;
}

.container .header .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.container .header .right .notification-wrap {
    position: relative;
}

.container .header .right .notification-wrap .noti-popup {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    width: min(350px, 100vw);
    padding: 15px;
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    box-shadow: 0 5px 20px 5px #00000033;
    z-index: 1000;
}

.container .header .right .notification-wrap .noti-popup .noti-title {
    font-size: 20px;
    font-weight: 300;
    border-bottom: 2px solid var(--primary-light);
}

.container .header .right .notification-wrap .noti-popup .noti-content {
    padding: 10px 0;
}

.container .header .right .notification-wrap .noti-popup .noti-content .noti-empty {
    margin: 10px 0;
    text-align: center;
    color: var(--primary-light);
}

.container .header .right .notification-wrap .noti-popup .noti-content .noti-item {
    margin: 10px 0;
    padding: 5px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
}

.container .header .right .notification-wrap .noti-popup .noti-content .noti-item:hover {
    background-color: var(--content-bg);
}

.container .header .right .notification-wrap .noti-popup .noti-content .noti-item .item-icon {
    color: var(--primary);
    padding: 10px 0;
}

.container .header .right .notification-wrap .noti-popup .noti-content .noti-item .item-title {
    color: var(--primary);
    font-size: 18px;
}

.container .header .right .notification-wrap .noti-popup .noti-content .noti-item .item-desc {
    font-size: 14px;
}

.container .header .right .noti-btn:focus {
    box-shadow: 0 2px 0 0 var(--primary-light), 0 5px 20px 5px #00000022;
    background-color: #fff;
}

.container .header .right .noti-btn:focus~.noti-popup, .container .header .right .noti-popup:hover {
    display: block;
}

.container .header .right .my-account-wrap {
    position: relative;
}

.container .header .right .my-account-wrap .account-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    right: 0;
    top: calc(100% + 10px);
    min-width: max-content;
    padding: 15px;
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    gap: 5px;
    box-shadow: 0 5px 20px 5px #00000033;
    z-index: 1000;
}

.container .header .right .my-account-wrap .account-popup .popup-item {
    color: var(--secondary);
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
}

.container .header .right .my-account-wrap .account-popup .popup-item:hover {
    background-color: #eee;
}

.container .header .right .account-btn {
    gap: 10px;
}

.container .header .right .account-btn:focus {
    box-shadow: 0 2px 0 0 var(--primary-light), 0 5px 20px 5px #00000022;
    background-color: #fff;
}

.container .header .right .account-btn:focus~.account-popup, .container .header .right .account-popup:hover {
    display: flex;
}

.container .header .right .account-btn img {
    border-radius: 50%;
}

.container .header .header-bottom {
    display: flex;
    margin: 5px 0;
    padding: 5px 1px;
    gap: 8px;
    overflow-x: auto;
}

.container .header .header-bottom::-webkit-scrollbar {
    display: none;
}

.container .header .header-bottom .btn {
    padding: 10px;
    border: 1px solid #08564833;
    box-shadow: 0px 0px 2px #085648;
}

.container .header .header-bottom .btn.current:hover {
    background-color: var(--primary);
}

.container .content {
    margin: 8px -20px -6px -6px;
    padding: 8px;
    height: 90%;
    overflow-y: scroll;
}

.content .content-header {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: min(5vw, 50px);
    flex-wrap: wrap;
}

.content .content-header .content-search {
    position: relative;
    flex: 3;
    min-width: min(325px, 100%);
}

.content .content-header .content-search>input {
    padding: 15px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.content .content-header .content-search>input::placeholder {
    opacity: 0.5;
}

.content .content-header .content-search .filter-btn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #fff;
}

.content .content-header .content-search .filter-btn:hover, .content .content-header .content-search .filter-btn:focus {
    background-color: #eee;
}

.content .content-header .content-search .filter-wrap {
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    box-shadow: 0 5px 10px #00000033;
    width: clamp(350px, 100%, 700px);
    min-height: 380px;
    font-size: 16px;
    display: none;
}

.content .content-header .content-search .filter-wrap>input {
    display: none;
}

.content .content-header .content-search .filter-wrap .field-wrap {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 20px 0;
    border-right: 2px solid var(--primary-light);
    gap: 3px;
}

.content .content-header .content-search .filter-wrap .field-wrap label {
    padding: 4px 10px;
    cursor: pointer;
}

.filter-wrap #filter-1:checked~.field-wrap .filter-1, .filter-wrap #filter-2:checked~.field-wrap .filter-2, .filter-wrap #filter-3:checked~.field-wrap .filter-3, .filter-wrap #filter-4:checked~.field-wrap .filter-4, .filter-wrap #filter-5:checked~.field-wrap .filter-5, .filter-wrap #filter-6:checked~.field-wrap .filter-6, .filter-wrap #filter-7:checked~.field-wrap .filter-7, .filter-wrap #filter-8:checked~.field-wrap .filter-8 {
    background-color: var(--primary-light);
}

.content .content-header .content-search .filter-wrap .desc-wrap {
    flex: 4;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.content .content-header .content-search .filter-wrap .desc-wrap .filter-tab {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.filter-wrap #filter-1:checked~.desc-wrap .tab-1, .filter-wrap #filter-2:checked~.desc-wrap .tab-2, .filter-wrap #filter-3:checked~.desc-wrap .tab-3, .filter-wrap #filter-4:checked~.desc-wrap .tab-4, .filter-wrap #filter-5:checked~.desc-wrap .tab-5, .filter-wrap #filter-6:checked~.desc-wrap .tab-6, .filter-wrap #filter-7:checked~.desc-wrap .tab-7, .filter-wrap #filter-8:checked~.desc-wrap .tab-8 {
    display: flex;
}

.content .content-header .content-search .filter-wrap .desc-wrap .filter-condition, .content .content-header .content-search .filter-wrap .desc-wrap .filter-answer {
    display: flex;
    flex-direction: column;
}

.content .content-header .content-search .filter-wrap .desc-wrap .checkbox-wrap {
    margin: 0 15px;
    width: max-content;
    max-width: 93%;
}

.content .content-header .content-search .filter-wrap .desc-wrap .checkbox-wrap .checkmark {
    width: 18px;
    height: 18px;
    border-radius: 5px;
}

.content .content-header .content-search .filter-wrap .desc-wrap .checkbox-wrap .label {
    margin-left: 25px;
    line-height: 1.1;
}

.content .content-header .content-search .filter-wrap .desc-wrap input[type="number"], .content .content-header .content-search .filter-wrap .desc-wrap input[type="date"] {
    margin: 0 15px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    max-width: 218px;
}

.content .content-header .content-search .filter-wrap .desc-wrap .btns-wrap {
    display: flex;
    justify-content: space-between;
}

.content .content-header .content-search .filter-wrap .desc-wrap .btns-wrap .btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 300;
}

.content .content-header .content-search .filter-wrap .desc-wrap .btns-wrap .clear-btn {
    background-color: var(--primary-light);
    color: #000;
    border: none;
    cursor: pointer;
}

.content .content-header .content-search .filter-wrap .desc-wrap .btns-wrap .apply-btn {
    background-color: var(--primary);
    color: #fff;
}

.content .content-header .add-link-btn {
    display: flex;
    justify-content: space-around;
    padding: min(1vw, 10px);
    border: 2px solid #ddd;
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
    height: 52.4px;
    outline: none;
    max-width: 250px;
    flex: 1;
    background-color: var(--primary);
    color: #fff;
}

.content .content-header .content-search input:focus, .content .content-header .btn:focus {
    border-color: #aaa;
}

.container .footer {
    box-shadow: 0 -3px 0 -1px var(--primary);
    padding: 20px 0 0 0;
    margin-top: 50px;
}

.container .footer .footer-top {
    display: flex;
    padding: 20px 0;
    gap: 35px 250px;
    align-items: center;
    flex-wrap: wrap;
}

.container .footer .footer-top .footer-links {
    flex: 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.container .footer .footer-top .footer-links .link {
    text-decoration: none;
    color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
}

.container .footer .footer-top .footer-socials {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.container .footer .footer-top .footer-socials .social {
    text-decoration: none;
    color: var(--secondary);
}

.container .footer .footer-top .footer-socials .social i {
    font-size: 26px;
}

.container .footer .footer-bottom {
    padding: 20px 0;
}

.fader {
    height: 40px;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--content-bg) 90%);
    z-index: 10;
    position: absolute;
    bottom: 0;
}

/*---------------------------------- Scrollbar ------------------------------------*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee188;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf88;
}

/*------------------------------------- Table -------------------------------------*/

.content .table-container {
    overflow-x: auto;
    margin: -5px;
    padding: 5px;
    min-height: 365px;
}

.table-container table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 #00000022;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    color: #333;
}

.table-container table thead {
    height: 70px;
    box-shadow: 0 1px 0 0 var(--primary);
}

.table-container table thead th {
    font-weight: 400;
    padding: 0 10px;
    white-space: nowrap;
    user-select: none;
}

.table-container table thead th i {
    opacity: 0;
    transition: opacity 0.2s;
}

.table-container table thead th:hover i {
    opacity: 1;
}

.table-container table thead th .checkbox-wrap {
    position: relative;
    z-index: 10;
}

.table-container table thead th #delete-btn {
    position: relative;
    margin-left: -85px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.4s;
    z-index: 5;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.table-container table thead th:nth-child(2) {
    min-width: 154px;
}

.table-container table tbody tr:nth-child(odd) {
    background-color: #eeeeee77;
}

.table-container table tbody tr {
    height: 60px;
    font-weight: 500;
}

.table-container table tbody tr .color-wrap {
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    box-shadow: 0 0 5px -1px var(--secondary);
}

.table-container table tbody tr td {
    padding: 0 10px;
}

.table-container table tbody tr td .long-link {
    font-size: 12px;
}

.table-container table tbody tr .btn-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    gap: 5px;
}

.table-container table tbody tr .btn-wrap .btn {
    color: var(--primary);
    box-shadow: 0 0 5px 0 #00000022;
    width: 40px;
    height: 40px;
}

.table-container table tbody tr .btn-wrap .btn i {
    margin: auto;
}

.table-container table tfoot {
    height: 60px;
    box-shadow: 0 -1px 0 0 var(--primary);
}

.table-container table tfoot .page-nav {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.table-container table tbody tr td:not(:nth-child(-n + 2)), .table-container table thead th:not(:nth-child(-n + 2)) {
    text-align: center;
}

/*------------------------------ Checkbox ----------------------------------*/

.checkbox-wrap {
    margin: auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 6px;
}

.checkbox-wrap .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-wrap .checkmark {
    position: absolute;
    height: 24px;
    width: 24px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.2s;
}

.checkbox-wrap .checkbox:focus~.checkmark {
    background-color: #eee;
}

.checkbox-wrap .checkbox:checked~.checkmark {
    background-color: var(--primary);
}

/*----------------------------- Select (Dropdown) --------------------------------*/

.custom-select {
    display: flex;
    position: relative;
}

.custom-select select {
    flex: 1;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 8px 40px 8px 8px;
    font-size: 15px;
    appearance: none;
    color: #333;
    background-color: #fff;
}

.custom-select select option:checked, .custom-select select option:hover {
    box-shadow: 0 0 10px 100px var(--primary-light) inset;
}

.custom-select .custom-arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/*----------------------------------- Modal --------------------------------------*/

#modal-container {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    backdrop-filter: blur(6px);
    transition: backdrop-filter 0.5s;
    display: none;
}

#modal-container>* {
    display: none;
}

.modal {
    background-color: #fff;
    width: min(600px, 100vw);
    border: 4px solid var(--primary-light);
    border-radius: 10px;
    color: #000;
}

.modal .modal-header {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    border-radius: 5px 5px 25px 25px;
    box-shadow: 0 4px 8px -6px var(--secondary);
}

.modal .modal-body {
    padding: 20px 20px 0 20px;
    font-weight: 400;
}

.modal .modal-row {
    display: flex;
    justify-content: space-between;
    gap: 5px 15px;
    margin: 20px 0;
    align-items: flex-end;
    flex-wrap: wrap;
}

.modal .modal-body .modal-btn {
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 10px;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.modal .modal-body input, .modal .modal-body textarea {
    flex: 1;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
}

.modal .modal-body input[type='text'] {
    min-width: 240px;
}

.modal .modal-body input::placeholder, .modal .modal-body textarea::placeholder {
    font-size: 14px;
}

.modal .modal-body #advanced-btn {
    text-decoration: none;
    font-weight: 400;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.modal .modal-body #modal-advanced, .modal .modal-body #modal-advanced-1, .modal .modal-body #modal-advanced-2 {
    height: 0;
    transition: height 0.2s;
    overflow-x: auto;
}

.modal .modal-body #modal-advanced:target, .modal .modal-body #modal-advanced-1:target, .modal .modal-body #modal-advanced-2:target {
    height: 350px;
}

.modal .modal-body .modal-section {
    margin: 20px 0;
    padding: 20px 0 10px 0;
    border-top: 2px dashed var(--primary-light);
    display: flex;
    flex-direction: column;
}

.modal .modal-body .modal-section .modal-section-title {
    font-weight: 500;
    margin-bottom: 8px;
}

.modal .modal-body .modal-section .modal-section-desc {
    font-size: 11px;
    color: var(--secondary);
    margin-bottom: 10px;
}

.modal .modal-body label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.modal .modal-section:not(:first-child) .modal-row {
    margin: 5px 0;
}

.modal .modal-section:not(:first-child) .modal-row label {
    font-size: 12px;
}

.modal .modal-section:not(:first-child) .modal-row .clear-btn {
    text-align: right;
    text-decoration: none;
    color: var(--primary);
}

.modal .modal-body .icon-btn {
    border: 1px solid var(--primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    color: var(--secondary);
    gap: 8px;
    min-width: max-content;
}

.modal .modal-body .image-btn {
    background-color: var(--primary-light);
    color: #000;
    padding: 10px;
    position: relative;
}

.modal .modal-body .image-btn::before {
    position: absolute;
    right: -5px;
    top: -5px;
    content: '+';
    color: white;
    font-size: 20px;
    background-color: var(--primary);
    padding: 0 3px;
    border-radius: 50%;
}

.modal .modal-footer {
    padding: 20px;
    border-top: 2px solid var(--primary-light);
    border-radius: 25px 25px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.modal .modal-footer .cancel-btn {
    background-color: var(--primary-light);
    color: #000;
    padding: 10px 15px;
}

.modal .modal-footer .confirm-btn {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 15px;
}

/*--------------------------------- Delete Modal ----------------------------------*/

#delete-modal {
    width: min(400px, 98%);
    height: min(160px);
    padding: 15px;
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    box-shadow: 0 5px 20px 5px #00000033;
    z-index: 1000;
    flex-direction: column;
}

#delete-modal .delete-title {
    font-size: 22px;
    font-weight: 500;
}

#delete-modal .btn-wrap {
    margin-top: auto;
    display: flex;
    gap: 20px;
}

#delete-modal .btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    line-height: 1;
    font-weight: 400;
    background-color: var(--primary);
    color: #fff;
    padding: 10px;
    min-width: 110px;
    text-align: center;
}

#delete-modal .btn-secondary {
    margin-left: auto;
    background-color: var(--primary-light);
    color: #555;
    transition: background-color 300ms;
}

/*--------------------------------- Media Query ----------------------------------*/

@media only screen and (min-width: 700px) {
    #menu-bar {
        width: 315px !important;
        opacity: 1 !important;
    }
}

@media only screen and (max-width: 700px) {
    #menu-toggle {
        display: block;
    }
    #menu-bar {
        width: 0px;
    }
    .menu-bar .menu-btn {
        padding: 6px 4px;
    }
    .container {
        border-radius: 15px;
        padding: 8px 5px;
    }
    .container .header .center {
        justify-content: flex-end;
    }
}