.biolink-edit {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.biolink-options {
    flex: 3;
}

.biolink-options input[name="tab"] {
    display: none;
}

.biolink-options input#content:checked~.tabs .tab-content, .biolink-options input#appearance:checked~.tabs .tab-appearance, .biolink-options input#settings:checked~.tabs .tab-settings {
    color: #000;
}

.biolink-options input#appearance:checked~.tabs .slider {
    transform: translateX(100%);
}

.biolink-options input#settings:checked~.tabs .slider {
    transform: translateX(200%);
}

.biolink-options .tabs {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    margin: 0 10px;
    gap: min(20px, 2vw);
}

.biolink-options .tabs .slider {
    position: absolute;
    height: 65px;
    /* width: 220px; */
    width: clamp(105px, 35%, 220px);
    background-color: var(--primary-light);
    top: -8px;
    left: -10px;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s;
}

.biolink-options .tabs>label {
    font-size: 16px;
    font-weight: 500;
    z-index: 10;
    background-color: #fff;
    width: clamp(103px, 40%, 200px);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid var(--primary-light);
    cursor: pointer;
}

.biolink-options .tabs>label i {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    background-color: var(--primary);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.options {
    display: none;
    position: relative;
    margin-top: 5px;
    padding: 20px 50px 5px 50px;
    border: 2px solid var(--primary-light);
    border-radius: 20px;
    background-color: #fff;
}

.biolink-options section .options-1 {
    border-top-left-radius: 0;
}

input#content:checked~section .options-1, input#appearance:checked~section .options-2, input#settings:checked~section .options-3 {
    display: block;
}

.options-1 .content-header {
    display: flex;
    gap: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

.content-header a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    background-color: var(--primary);
    color: #fff;
    font-weight: 500;
    height: 50px;
}

.content-header .add-link {
    flex: 4;
}

.content-header .add-widget {
    flex: 2;
}

.content-header .add-widget i {
    background-color: #fff;
    color: var(--primary);
    padding: 5px;
    border-radius: 50%;
}

.content-body {
    max-height: 450px;
    overflow-x: auto;
    margin: 0 -30px 0 -10px;
}

.content-body #all-items {
    margin: 10px;
}

#all-items .item-wrap {
    display: flex;
    background-color: var(--content-bg);
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 2px 5px 0 #ccc;
    min-height: 130px;
}

#all-items .item-wrap .item-handle {
    width: 80px;
    display: grid;
    place-items: center;
    border-right: 2px solid var(--primary-light);
    cursor: move;
}

#all-items .item-wrap .item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

#all-items .item-wrap .item-body .item-left {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#all-items .item-wrap .item-body .item-left .sub-title {
    font-size: 12px;
    font-weight: 300;
}

#all-items .item-wrap .item-body .item-center {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

#all-items .item-wrap .item-body .item-center img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#all-items .item-wrap .item-body .item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

#all-items .item-wrap .item-body .item-right label {
    /* display: block; */
    width: 62px;
    height: 22px;
    background-color: #fff;
    border: 1px solid var(--primary-light);
    border-radius: 11px;
    position: relative;
    cursor: pointer;
}

#all-items .item-wrap .item-body .item-right input {
    display: none;
}

#all-items .item-wrap .item-body .item-right label .checkmark {
    height: 24px;
    width: 24px;
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0 0 2px 0 var(--secondary);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.2s;
}

#all-items .item-wrap .item-body .item-right input:checked~label {
    background-color: var(--primary);
}

#all-items .item-wrap .item-body .item-right input:checked~label .checkmark {
    left: 61%;
    background-color: #fff;
}

#all-items .item-wrap .item-body .item-right .item-btns {
    display: flex;
    gap: 10px;
}

#all-items .item-wrap .item-body .item-right .item-btns a.btn {
    padding: 5px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50%;
}

.sortable-placeholder {
    background-color: #eeeeee55;
    border-radius: 15px;
}

.options-2 .appearance-header {
    display: flex;
    /* flex-wrap: wrap; */
}

.options-2 .appearance-header .title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.options-2 .appearance-header .desc {
    font-size: 14px;
}

.options-2 .appearance-header .save-btn {
    padding: 8px 12px;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    margin: 8px 0;
    font-size: 14px;
    font-weight: 300;
    min-width: max-content;
}

.options-2 .appearance-body input[name='appearance-tab'] {
    display: none;
}

.options-2 .appearance-body .sub-tabs {
    margin: 10px 0;
}

.options-2 .appearance-body .sub-tabs label {
    font-weight: 500;
    color: var(--primary);
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 8px;
    padding: 4px 8px;
    width: 100px;
    cursor: pointer;
}

.options-2 .appearance-body input#background:checked~.sub-tabs .tab-background, .options-2 .appearance-body input#fonts:checked~.sub-tabs .tab-fonts, .options-2 .appearance-body input#buttons:checked~.sub-tabs .tab-buttons {
    color: #fff;
    background-color: var(--primary);
}

.options-2 .appearance-body section .app-options {
    display: none;
    max-height: 376px;
    overflow-y: auto;
}

.options-2 .appearance-body input#background:checked~section .app-options-1, .options-2 .appearance-body input#fonts:checked~section .app-options-2, .options-2 .appearance-body input#buttons:checked~section .app-options-3 {
    display: block;
}

.options-3 {
    /* padding: 20px 20px 0 20px; */
    font-weight: 400;
    max-height: 540px;
    overflow-y: auto;
}

.options-3 .link-row .domain {
    text-decoration: none;
}

.options-3 .link-row #link-input {
    display: none;
    min-width: 80px;
    width: 80px;
    padding: 3px 5px;
}

.options-3 .link-row #link-edit-btn {
    text-decoration: none;
    background-color: var(--primary);
    color: #fff;
    padding: 2px 6px;
    border-radius: 8px;
}

.settings-row {
    display: flex;
    justify-content: space-between;
    gap: 5px 15px;
    margin: 20px 0;
    align-items: flex-end;
    flex-wrap: wrap;
}

.options-3 .settings-btn {
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 10px;
    max-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.options-3 input, .options-3 textarea {
    flex: 1;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
}

.options-3 input[type='text'] {
    min-width: 240px;
}

.options-3 input::placeholder, .options-3 textarea::placeholder {
    font-size: 14px;
}

.options-3 .settings-section {
    margin: 20px 0;
    padding: 20px 0 10px 0;
    border-top: 2px dashed var(--primary-light);
    display: flex;
    flex-direction: column;
    position: relative;
}

.options-3 .settings-section.locked::before {
    content: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M384 223.1L368 224V144c0-79.41-64.59-144-144-144S80 64.59 80 144V224L64 223.1c-35.35 0-64 28.65-64 64v160c0 35.34 28.65 64 64 64h320c35.35 0 64-28.66 64-64v-160C448 252.7 419.3 223.1 384 223.1zM144 144C144 99.88 179.9 64 224 64s80 35.88 80 80V224h-160V144z"></path></svg>');
    position: absolute;
    left:0;
    top: 0;
}

.options-3 .settings-section.no-border {
    padding-top: 0;
    border-top: none;
}

.options-3 .settings-section .settings-section-title {
    font-weight: 500;
    margin-bottom: 8px;
}

.options-3 .settings-section .settings-section-desc {
    font-size: 11px;
    color: var(--secondary);
    margin-bottom: 10px;
}

.options-3 label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.settings-section:not(:first-child) .settings-row {
    margin: 5px 0;
}

.settings-section:not(:first-child) .settings-row label {
    font-size: 12px;
}

.settings-section:not(:first-child) .settings-row .clear-btn {
    text-align: right;
    text-decoration: none;
    color: var(--primary);
}

.options-3 .icon-btn {
    border: 1px solid var(--primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    color: var(--secondary);
    gap: 8px;
    min-width: max-content;
}

.options-3 .image-btn {
    background-color: var(--primary-light);
    color: #000;
    padding: 10px;
    position: relative;
}

.options-3 .image-btn::before {
    position: absolute;
    right: -5px;
    top: -5px;
    content: '+';
    color: white;
    font-size: 20px;
    background-color: var(--primary);
    padding: 0 3px;
    border-radius: 50%;
}

.settings-footer {
    padding: 20px;
    border-top: 2px solid var(--primary-light);
    border-radius: 25px 25px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.settings-footer .cancel-btn {
    background-color: var(--primary-light);
    color: #000;
    padding: 10px 15px;
}

.settings-footer .confirm-btn {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 15px;
}

.biolink-preview {
    flex: 2;
    display: grid;
    place-items: center;
    perspective: 800px;
}

.viewport {
    position: relative;
    width: 280px;
    height: 520px;
    background-color: #fff;
    border: 5px solid #ddd;
    border-radius: 40px;
    transform: rotateY(-20deg);
    border-left-width: 2px;
    border-right-width: 12px;
    box-shadow: 5px 0 0 -2px #ccc, inset 0px -6px 12px -10px #aaa;
    transition: transform 200ms, border-width 250ms;
}

.viewport:hover {
    transform: rotateY(0deg);
    border-width: 5px;
}

.viewport::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
}

.viewport::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(253deg, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0.45171572046787467) 57%);
    transition: width 0.2s;
}

.viewport:hover::after {
    width: 0;
}

.preview-page {
    margin: 0 15px;
    padding: 30px 0;
    max-height: 100%;
    overflow-y: auto;
}

.preview-page::-webkit-scrollbar {
    width: 0;
}

.preview-page .page-item {
    display: grid;
    place-items: center;
    margin: 15px 0;
}

.preview-page .page-item a {
    text-decoration: none;
}

.preview-page .page-item .image img {
    border-radius: 50%;
    border: 1px solid var(--primary-light);
}

.preview-page .page-item .link {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--primary-light);
    padding: 8px;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
}

.preview-page .page-item .link .link-thumbnail {
    height: 40px;
}

.preview-page .page-item .link .link-thumbnail img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.preview-page .page-item .youtube img {
    border-radius: 10px;
    height: 100px;
    width: 180px;
    object-fit: cover;
}

@media only screen and (max-width: 500px) {
    .biolink-options .tabs label i {
        display: none;
    }
    .biolink-options section .options-3 {
        border-top-right-radius: 0;
    }
    .biolink-options .options .item-wrap .item-body {
        flex-direction: column;
        gap: 20px;
    }
    .biolink-options .options {
        margin: 0;
        padding: 10px;
    }
    .biolink-options .content-body {
        max-height: unset !important;
        margin: -5px;
    }
    .biolink-preview .viewport {
        margin: 20px 0 100px 0;
        transform: rotateX(0);
        border-width: 4px;
        box-shadow: none;
    }
}