.content .biolink-header {
    display: flex;
    justify-content: space-between;
    gap: 10px 50px;
    flex-wrap: wrap;
}

.content .biolink-header .biolink-search {
    position: relative;
    flex: 3;
    min-width: min(325px, 100%);
}

.content .biolink-header .biolink-search input {
    padding: 15px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.content .biolink-header .biolink-search input::placeholder {
    opacity: 0.5;
}

.content .biolink-header .biolink-search a {
    position: absolute;
    display: flex;
    align-items: center;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    font-weight: 500;
}

.content .biolink-header .add-link-btn {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
    height: 52.4px;
    outline: none;
    max-width: 250px;
    flex: 1;
    background-color: var(--primary);
    color: #fff;
}

.content .biolink-header .biolink-search input:focus, .content .biolink-header .btn:focus {
    border-color: #aaa;
}

.content .table-container {
    overflow-x: auto;
    margin: -5px;
    padding: 5px;
    min-height: 365px;
}

.content table.biolink-table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 #00000022;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    color: #555;
}

.content table.biolink-table thead {
    height: 70px;
    box-shadow: 0 1px 0 0 var(--primary);
}

.content table.biolink-table thead th {
    font-weight: 400;
    padding: 0 10px;
    white-space: nowrap;
}

.content table.biolink-table thead th .checkbox-wrap {
    position: relative;
    z-index: 10;
}

.content table.biolink-table thead th #delete-btn {
    position: relative;
    margin-left: -85px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.4s;
    z-index: 5;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.content table.biolink-table tbody tr:nth-child(odd) {
    background-color: #eeeeee77;
}

.content table.biolink-table tbody tr {
    height: 60px;
    font-weight: 500;
}

.content table.biolink-table tbody tr td {
    padding: 0 10px;
}

.content table.biolink-table tbody tr .btn-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.content table.biolink-table tbody tr .btn-wrap .btn {
    color: var(--primary);
    box-shadow: 0 0 5px 0 #00000022;
    width: 40px;
    height: 40px;
}

.content table.biolink-table tbody tr .btn-wrap .btn i {
    margin: auto;
}

.content table.biolink-table tfoot {
    height: 60px;
    box-shadow: 0 -1px 0 0 var(--primary);
}

.content table.biolink-table tfoot td {
    text-align: center;
}

.content table.biolink-table tfoot .items-per-page div {
    display: inline-block;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 5px 10px;
}

.checkbox-wrap {
    margin: auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 6px;
}

.checkbox-wrap .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-wrap .checkmark {
    position: absolute;
    height: 24px;
    width: 24px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.2s;
}
.checkbox-wrap .checkbox:focus~.checkmark {
    background-color: #eee;
}

.checkbox-wrap .checkbox:checked~.checkmark {
    background-color: var(--primary);
}