.biolink-edit {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.biolink-options {
    flex: 3;
}

.biolink-options input[name="tab"] {
    display: none;
}

.biolink-options .tabs {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    margin: 0 10px;
    gap: min(20px, 2vw);
}

.biolink-options .tabs .slider {
    position: absolute;
    height: 65px;
    /* width: 220px; */
    width: clamp(105px, 35%, 220px);
    background-color: var(--primary-light);
    top: -8px;
    left: -10px;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s;
}

.biolink-options input#content:checked~.tabs .tab-content, .biolink-options input#appearance:checked~.tabs .tab-appearance, .biolink-options input#settings:checked~.tabs .tab-settings {
    color: #000;
}

.biolink-options input#appearance:checked~.tabs .slider {
    transform: translateX(100%);
}

.biolink-options input#settings:checked~.tabs .slider {
    transform: translateX(200%);
}

.biolink-options .tabs label {
    font-size: 16px;
    font-weight: 500;
    z-index: 10;
    background-color: #fff;
    width: clamp(103px, 40%, 200px);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid var(--primary-light);
    cursor: pointer;
}

.biolink-options .tabs label i {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    background-color: var(--primary);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.biolink-options section .options {
    display: none;
    position: relative;
    margin-top: 5px;
    padding: 20px 50px 5px 50px;
    border: 2px solid var(--primary-light);
    border-radius: 20px;
    background-color: #fff;
}

.biolink-options section .options-1 {
    border-top-left-radius: 0;
}

input#content:checked~section .options-1, input#appearance:checked~section .options-2, input#settings:checked~section .options-3 {
    display: block;
}

.biolink-options section .options .content-header {
    display: flex;
    gap: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

.biolink-options section .options .content-header a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    background-color: var(--primary);
    color: #fff;
    font-weight: 500;
    height: 50px;
}

.biolink-options section .options .content-header .add-link {
    flex: 4;
}

.biolink-options section .options .content-header .add-widget {
    flex: 2;
}

.biolink-options section .options .content-header .add-widget i {
    background-color: #fff;
    color: var(--primary);
    padding: 5px;
    border-radius: 50%;
}

.biolink-options section .options .content-body {
    max-height: 450px;
    overflow-x: auto;
    margin: 0 -30px 0 -10px;
}

.biolink-options section .options .content-body .all-items {
    margin: 10px;
}

.biolink-options section .options .content-body .all-items .item-wrap {
    display: flex;
    background-color: var(--content-bg);
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 2px 5px 0 #ccc;
    min-height: 130px;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-handle {
    width: 80px;
    display: grid;
    place-items: center;
    border-right: 2px solid var(--primary-light);
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-left {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-left .sub-title {
    font-size: 12px;
    font-weight: 300;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-center {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-center img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right label {
    /* display: block; */
    width: 62px;
    height: 22px;
    background-color: #fff;
    border: 1px solid var(--primary-light);
    border-radius: 11px;
    position: relative;
    cursor: pointer;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right input {
    display: none;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right label .checkmark {
    height: 24px;
    width: 24px;
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0 0 2px 0 var(--secondary);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right input:checked~label {
    background-color: var(--primary);
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right input:checked~label .checkmark {
    left: 61%;
    background-color: #fff;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right .item-btns {
    display: flex;
    gap: 10px;
}

.biolink-options section .options .content-body .all-items .item-wrap .item-body .item-right .item-btns a.btn {
    padding: 5px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50%;
}

.sortable-placeholder {
    background-color: #eeeeee55;
    border-radius: 15px;
}

.biolink-preview {
    flex: 2;
    display: grid;
    place-items: center;
    perspective: 800px;
}

.viewport {
    position: relative;
    width: 250px;
    height: 450px;
    background-color: #fff;
    border: 5px solid #ddd;
    border-radius: 40px;
    transform: rotateY(-20deg);
    border-left-width: 2px;
    border-right-width: 12px;
    box-shadow: 5px 0 0 -2px #ccc, inset 0px -6px 12px -10px #aaa;
    transition: transform 200ms, border-width 250ms;
}

.viewport:hover {
    transform: rotateY(0deg);
    border-width: 5px;
}

.viewport::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
}

.viewport::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(253deg, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0.45171572046787467) 57%);
    transition: width 0.2s;
}

.viewport:hover::after {
    width: 0;
}

.preview-page {
    margin: 0 15px;
    padding: 30px 0;
    max-height: 100%;
    overflow-y: auto;
}

.preview-page::-webkit-scrollbar {
    width: 0;
}

.page-item {
    display: grid;
    place-items: center;
    margin: 10px 0;
}

.page-item a {
    text-decoration: none;
}

.page-item .image img {
    border-radius: 50%;
}

.page-item .link {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--primary-light);
    padding: 8px;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
}

.page-item .link .link-thumbnail {
    height: 40px;
}

.page-item .link .link-thumbnail img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.page-item .youtube img {
    border-radius: 10px;
    height: 100px;
    width: 180px;
    object-fit: cover;
}

@media only screen and (max-width: 500px) {
    .biolink-options .tabs label i {
        display: none;
    }
    .biolink-options section .options-3 {
        border-top-right-radius: 0;
    }
}