.content .content-header .action-btn{
    display: flex;
    justify-content: space-around;
    border: 2px solid #ddd;
}

.content .content-header .action-wrap {
    flex: 1;
    position: relative;
}

.content .content-header .action-wrap .action-popup {
    position: absolute;
    display: none;
    /* right: 0; */
    top: calc(100% + 10px);
    min-width: max-content;
    padding: 15px;
    background-color: #fff;
    border: 2px solid var(--primary-light);
    border-radius: 10px;
    box-shadow: 0 5px 20px 5px #00000033;
    z-index: 1000;
}

.content .content-header .action-wrap .action-popup .action {
    text-decoration: none;
    color: var(--secondary);
    display: flex;
    gap: 5px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.content .content-header .action-wrap .action-popup .action:hover {
    background-color: var(--content-bg);
}

.content .content-header .action-wrap .action-popup .action .action-icon {
    text-align: center;
    width: 36px;
}

.content .content-header .action-wrap .action-btn:focus {
    box-shadow: 0 2px 0 0 var(--primary-light), 0 5px 10px 5px #00000022;
    background-color: #fff;
}

.content .content-header .action-wrap .action-btn:focus~.action-popup, .content .content-header .action-wrap .action-popup:hover {
    display: block;
}

.modal .utm-wrap {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: min(480px, 95vw);
    box-shadow: 0 0 20px -3px #ccc;
    border-radius: 8px;
    padding: 20px;
}

.modal .utm-wrap .modal-row input {
    min-width: 100px;
}

.modal .utm-wrap .info-card {
    margin: 20px 0;
    padding: 5px 15px;
    background-color: #F3FCF2;
    border-radius: 5px;
    box-shadow: inset 10px 0 0 -5px var(--primary);
    font-size: 14px;
    font-weight: 300;
}