.content .content-header>.btn {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
    height: 52.4px;
    outline: none;
}

.content .content-header .action-btn {
    flex: 1;
    color: var(--primary);
}

.content .content-header .addcontent-btn {
    flex: 1;
    background-color: var(--primary);
    color: #fff;
}